# публичные переменные в экшены
NEXT_PUBLIC_ALLOW_INDEXING=false
NEXT_PUBLIC_YANDEX_MAPS_API_KEY=
NEXT_PUBLIC_YANDEX_METRIKA_ID=
# runtime переменные на серваке
YANDEX_WEBMASTER_VERIFICATION=
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
APP_PORT=127.0.0.1:3000
